body {
}
.fixed-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px; /* Adjust this value to control the spacing */
}

.cart-icon {
    font-size:25px; /* Adjust the font size as needed */
    color: white; /* Set the color to white */
    margin-left: 800px; /* Adjust the rSight margin to shift it to the right */
}
#cartItemCount {
    font-size: 15px;
    color: lavenderblush;
    margin-left: 3px;
}

